  <h1 class="text-center my-4">Liste de Residences</h1>

<div class="container">

 <div class="row">

  <div class="col-md-4 mb-4" *ngFor="let residence of listResidences" >

   <!-- <ng-container *ngIf="searchItem || searchItem === 'residence.adress'" class="card h-100"> -->

    <img [src]="residence.image" class="card-img-top img-fluid" alt="{{residence.name}} image" style="height: 200px; object-fit: cover;">

    <div class="card-body">

     <h5 class="card-title">{{ residence.name }}</h5>
     <p class="card-text"><small class="text-muted">Status: {{residence.status}}</small></p>

    <!-- <div [ngSwitch]="residence.status">
        <li *ngSwitchCase="Disponible" style="color: green;">Disponible</li>
        <li *ngSwitchCase="Vendu" style="color: red;">Vendu</li>
        <li *ngSwitchCase="En Construction" style="color: orange;">En construction</li>
    </div>  -->
    
     <div> <button (click)="showAddress(residence)" class="btn btn-primary">Voir Location</button>

     <span *ngIf="visibilty && residence.name===nameR "> {{residence.address}}</span>
    </div>
     <button class="btn btn-danger">J'aime</button>
     <button class="btn btn-success"  [routerLink]="['/residences/details/',residence.id]">Voir Details</button>
    </div>

    </div>

   <!-- </ng-container> -->

  </div>


  
